:root {
  --color: #409544;
  --main-primary-color: #1d8b31;
  --light-primary-color: #94c29d;
  --main-secondary-color:  #1d3e8b;
  --light-secondary-color:  #9eb0da;
  --main-selected-color:  #4b4b4b;
  --light-selected-color:  #989898;
  --background-color: #310642;
--menu-background-1: #000000;
--body-color: #5eb76e;
--link-color: #f9f614;
  --menu-top-height: 35px;
  
}


::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 147, 147); 
}



html {

    font-size: 8px;
    background-color: var(--background-color);
    position: relative;
    min-height: 100%;
}

body {
  margin: 0;
   
   
    color: --body-color;
    /* color: #7fee93; */
}

a {
    
    color: --link-color;
}


  * {
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    image-rendering: pixelated;
    
      font-family: regu;
      color: var(--color);
  }
  input {
    -webkit-user-select:auto; /* Safari */        
-moz-user-select:auto; /* Firefox */
-ms-user-select: auto; /* IE10+/Edge */
user-select: all; /* Standard */

    -webkit-user-drag: none;
  
    image-rendering: pixelated;
    
      font-family: regu;


      background-color: var(--menu-background-1);
      color: var(--body-color);
      
      
  }
  .selectPoints{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 10000;
  }
  @font-face {
      font-family: "bold";
      src: url('../fonts/Montserrat-Bold.ttf');
  }
  
  @font-face {
      font-family: "regu";
      src: url('../fonts/Montserrat-Regular.ttf');
  }
  
  
  @media (min-width: 768px) {
    html {
      font-size: 12px;
    }
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  }


#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -999;
}
#UItop{
z-index: 4;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--menu-background-1);
  height: var(--menu-top-height);
  width: 100%;
}
#UIbottom{
  z-index: 3;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: var(--menu-background-1);
    height: var(--menu-top-height);
    width: 100%;
    height: 156px;
  }
 #frames{
    
    position: relative;
    left: 120px;
    bottom: 0px;
    background-color: var(--menu-background-1);
    height: var(--menu-top-height);
    width: calc( 100% - 300px );
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
 }
 .frame{
  display: flex;
  flex-direction: column;
  padding-right: 10px;
 }
#UItopRight{
  z-index: 5;
  position: fixed;
  right: 0px;
  top: 0px;
  
  height: var(--menu-top-height);
  width: 30%;
  display: flex;
  justify-content:flex-end;
}
#UIleft {

 z-index: 3;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: var(--menu-background-1);
  padding-top: var(--menu-top-height);
  height: 100%;
  width: 118px;
}
#UIleftBottom{
color: var(--background-color);
z-index: 4;

  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  
  
border-top: 4px solid var(--main-primary-color);
background-color: var(--menu-background-1);
 
  width: 118px;
}
#UIleftBottom label {
  color: var(--main-primary-color);
}
#UIleftBottom * {
  
  margin: 2px;
}
#UIleftBottom input{
  width: 90%;
  
}
#UIright{
  height: 100%;
  width: 180px;
  z-index: 3;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: var(--menu-background-1);
  padding-top: var(--menu-top-height);
}
#UIright * {
position: relative;
left: 2px;
}
.icon {
  width: 52px;
  height: 52px;
}
#colorpalette_select{
  position: relative;
  top: -7px;
  left: 0px;
  max-width: 100px;
}
.smallicon {
  position: absolute;
  top: -4px;
  width: 32px;
  height: 32px;
}
.tinyicon {
  position: relative;
  top:-2px;
  width: 24px;
  height: 24px;
}
.smallbuttonimg {

margin-left: -4px;
margin-top: 2px;


}
.invicon {
background-color: #00000000;
}
select {
  color: var(--menu-background-1);
  background-color: #bfbfbf;
  border-left:  2px solid #ffffff;
  border-top:2px solid #ffffff;
  border-bottom:2px solid #404040;
  border-right:2px solid #404040;
  border-radius: 0px;
}
button {
  color: var(--menu-background-1);
  font-size: 16px;
  width: 52px;
  height: 25px;
  background-color: #bfbfbf;
  
  border-left:  2px solid #ffffff;
  border-top:2px solid #ffffff;
  border-bottom:2px solid #404040;
  border-right:2px solid #404040;
  border-radius: 0px;
  margin: 2px;
  /*border: 0px;*/
  padding: 0px;
}
/*
button:hover{
  background-color: #cfcfcf;
}
*/
button:active{
  /*background-color: #939393;*/
  border-left:  2px solid #404040;
  border-top:2px solid #404040;
  border-bottom:2px solid #ffffff;
  border-right:2px solid #ffffff;
}

input {
  font-size: 10px;
  width: 104px;
  height: 15px;
  background-color: #404040;
  margin: 2px;
  /*border: 0px;*/
  padding: 0px;
}
#open{
display: none;
}
.select{
  background-color:var(--main-selected-color);
}
.selectP{
  background-color: var(--main-primary-color);
}
.selectS{
  background-color: var(--main-secondary-color);
}
.double{
  width: 111px;
}
.layer{
  background-color: #1d3e8b;
  margin-right: 2px;
  display: flex;flex-direction: row; align-items: center;
}


canvas {
position: absolute;
border: 0px;
margin: 0px;
padding: 0px;
 width: 100%;
 height: 100%;
z-index: 1;
  

  image-rendering: crisp-edges;
  image-rendering: pixelated;

 
  
  
}
#canvasdiv{
z-index: 0;
border: 0px;
margin: 0px;
padding: 0px;
  position:fixed;
  left: 119px;
  top: 40px;
  background-color: #d3d3d3;

  
}
#canvasBackground{
  
  background-repeat: repeat;
  background: url("../images/transparent256.png");
 width: 100%;
 height: 100%;
 z-index: -998;
}
#onioncanvas{
 width: 100%;
 height: 100%;
 z-index: -997;
}
#previewcanvas{

  z-index: 998;
  
}
#uicanvas{
  z-index: 999;
}
#UIres {
  border: 4px solid var(--main-primary-color);
  visibility: hidden;
  position: fixed;
  left: 128px;
  top: 48px;
  height: 128px;
  width: 128px;
  z-index: 10;
  background-color: var(--menu-background-1);
}
#UIopt {
  border: 4px solid var(--main-primary-color);
  visibility: hidden;
  position: fixed;
  left: 128px;
  top: 48px;
  height: 128px;
  width: 128px;
  z-index: 10;
  background-color: var(--menu-background-1);
}

#colorpalette{
  position: relative;
  left: 4px;
  width: 170px;
  height: 85px;
 
  padding-top: 2px;
  background-color: #344837;
  overflow-y: scroll;
}
#colorpalette_header,#colorpalette_footer {
  position: relative;
left: 4px;
  width: 170px;
  height: 25px;
 
  padding-top: 2px;
  background-color: #2e8e3c;
}
#colorpalette_footer{
  height: 54px;
}
.colorPick{
  position: relative;
  left: 19px;
  margin-left: 4px;
  width: 170px;
  height: 48px;
  border-bottom: #1d8b31 solid 4px;
  padding-top: 2px;
  background-color: #dddddd;
}

.color,.colorE{
  
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  margin-left:1px;
  padding: 0px;
}
.smallButton{
  height: 16px;
 font-size: 16px;
  margin: 0px;
  padding: 0px;
}
.nospace{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#colorpicker{
  position: absolute;
  top: 56px;
  left: -200px;
  background-color: #1d8b31;
  width: 192px;
  height: 218px;
}

#colorCanvasGradient,#hueCanvasGradient,#trCanvasGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
}

#colorCanvas{
overflow: hidden;
  background-color: #bfbfbf;
/*
  position: fixed;
  top:210px;
  left: 912px;
  */
  position: absolute;
top: 4px;
left: 4px;
  width: 128px;
  height: 128px;

}

#hueCanvas{
  /*
  position: fixed;
  top: 210px;
  left: 1044px;
  */
  position: absolute;
  top: 4px;
  left: 136px;
  background-color: #eaff00;
  width: 24px;
  height: 128px;
}
#trCanvas{
  background-repeat: repeat;
  background: url("../images/transparent256.png");
  position: absolute;
  top: 4px;
  left: 164px;
  /*
  position: fixed;
  top: 210px;
  left: 1072px;
 */
  background-size: 7px;
  width: 24px;
  height: 128px;
}
#colorValues {
  position: absolute;
  top: 136px;
  left: 4px;
  width: 184px;
  background-color: #eaff00;

}
#colorValues * {
  margin: 0px;
  padding: 0px;
  
  border: 0px;
  font-size: 10px;
}
#colorValues input {
  position: absolute;
  left: 60px;
  width: 124px;
}
#ColorButtons{
  position: absolute;
  top: 185px;
  left: 4px;
  width: 184px;
  height: 36px;
  background-color: #006aff;
}
#ColorButtonCancel{
  width: 60px;
  margin-left: 15px;
}
#ColorButtonNew{
  margin-left: 10px;
}
#CurrentColor{
  background-repeat: repeat;
  background: url("../images/transparent256.png");
  background-size: 8px;
  height: 20px;
  width: 20px;
 top:6px;
  border: white solid 2px;
} #labelColor{
  position: absolute;
  top:-28px;
  color: #006aff;
}
.ColorSquare{
  background-repeat: repeat;
  background: url("../images/transparent256.png");
  background-size: 8px;
  height: 28px;
  width: 28px;
 
  border: rgb(207, 207, 207) solid 2px;
 
}

.imgcursor {
  z-index: 16;
 
}
#gradientcursor{
  position: absolute;
  top: -8px;
  left: 120px;
  z-index: 16;
}
#huecursor{
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 16;
}
#trcursor{
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 16;
}

.primaryColor{
  border-color:#4dd261;
}
.secondaryColor{
  border-color:#475cd6;
}
.bothColor{
  border-color:#a82d2d;
}
.selected{
  border-color:#ffd813;
}
.cancel {
  width: 16px;
  height: 16px;
  
  z-index: 10;
background-image:url("../icons/cross.png");
background-size: 12px;
background-color: red;
  
  
}

#cancel_colorpicker{
  position:absolute;
  left: 170px;
  top: -20px;
}
